/*        Primary
  COLORS: Yellow #F4CE14
          Green #495E57
          Secondary
          Peach #EE9972
          Cream #FBDABB
          Highlight
          White #EDEFEE
          Black #333333

  Type System:
          Display       Medium  64pt Markazi Text h1
          Subtitle      Regular 40pt Markazi Text h2
          Lead          Medium  18pt Markazi Text h3

          Section Title       Extra Bold  20pt Karla h4 | UPPERCASE
          Section Categories  Extra Bold  16pt Karla h5
          Card Title          Bold        18pt Karla h6
          Paragraph           Regular     16pt Karla p | 1.5 line height | max 65 chars
          Highlight           Medium      16pt Karla span
*/

/* STYLE RESET */

* {
  margin: 0;
  padding: 0;
  color: #333;
}

/* TYPE STYLES */
h1,
h2,
h3 {
  font-family: 'Markazi Text', serif;
}

h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
}

h1,
h3,
span {
  font-weight: 500;
}

h2,
p {
  font-weight: 400;
}

h4,
h5 {
  font-weight: 800;
}

h5,
p,
span {
  font-size: 16px;
}

h3,
h6 {
  font-size: 18px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
}

h6 {
  font-weight: 700;
}

p {
  line-height: 1.5;
  max-width: 65ch;
}

/* HERO */
.hero {
  background-color: #495e57;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  color: #f4ce14;
}

.hero h2 {
  color: #edefee;
  line-height: 0;
}

.hero p {
  color: white;
  padding: 3rem 0;
}

button {
  background-color: #f4ce14;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 16px;
  font-family: 'Markazi Text', serif;
  font-size: 18px;
  width: 150px;
}

.image-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.hero img {
  max-height: 425px;
  border-radius: 16px;
  margin-top: 2rem;
}

/* SPECIALS */

.specials {
  padding: 1rem;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.specials > h4 {
  font-family: 'Markazi Text', 'serif';
  font-weight: 400;
  font-size: 40px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 70%;
  margin-bottom: 2rem;
}

.card img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.card-body {
  margin-top: -4px;
  background-color: #edefee;
  padding: 1.5rem;
}

.card-text section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.card-text {
  margin-bottom: 1rem;
}

.card-body a {
  font-weight: 600;
}

#card-price {
  color: #ee9972;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#root {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: minmax(100px, auto);
}

header {
  grid-column: 1 / -1;
  display: flex;
  padding: 1.5rem;
  justify-content: center;
}

nav {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

main {
  grid-column: 1 / -1;
}

footer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 750px) {
  .hero {
    flex-direction: row;
  }
  .hero-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .image-wrapper {
    justify-content: center;
  }
  .image-wrapper > img {
    width: 390px;
    margin: 0;
  }

  .card {
    width: 50%;
  }
}

@media (min-width: 950px) {
  #root {
    grid-template-columns: repeat(12, auto);
    grid-auto-rows: minmax(100px, auto);
  }
  header {
    grid-column: 1 / 4;
    justify-content: end;
    padding: 2rem;
  }
  nav {
    grid-column: 4 / 13;
  }
  .cards {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
  }
  .card {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .card > img {
    height: 40%;
    object-fit: cover;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    min-height: 315px;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  header {
    grid-column: 4 / 5;
  }
  nav {
    grid-column: 6 / 10;
  }
  .image-wrapper > img {
    transform: translateY(15%);
  }
  .specials-header {
    padding: 0 4rem;
  }
}
